DREB_TEST_BASE_URI=https://www.drebedengi.ru
DREB_TEST_API_ID=
DREB_TEST_LOGIN=
DREB_TEST_PASSWORD=
DREB_TEST_TIMEZONE=UTC
DREB_RUN_LIVE_READ_TESTS=0
DREB_RUN_LIVE_WRITE_TESTS=0
DREB_BROWSER_CHECKS=0
